.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  background: none;
  border: none;
  color: #000;
  font-size: 18px !important;
  cursor: pointer;
}

.arrow {
  margin-left: 5px;
}

.dropdownBox {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff; /* اللون الأساسي */
  color: #000 !important;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 1000;
}

.dropdownList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownList li {
  padding: 0;
  margin: 0;
}

.dropdownList li a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 12px 20px;
  width: 100%;
  transition: all 0.3s ease;
}

.dropdownList li:hover a {
  background-color: #038FAD;
  color: #fff !important;
  width: 100%;
}